body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.admin-sidebar {
  min-width: 250px;
}

@media (max-width: 768px) {
  .admin-sidebar {
    display: none;
  }

  .admin-sidebar.show {
    display: block;
    position: absolute;
    z-index: 1000;
    height: 100vh;
    background-color: #212529;
  }
}
